body{
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}
ul, a{
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    
}
a:hover{
    color:crimson;
}

.navbar{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-link ul{

    display: flex;
    justify-content: center;
    gap: 10px;
}

#about-section{
    z-index: 2;
    text-align: center;
    height: 100%;
    background-color: rgb(0, 0, 0);
    letter-spacing: 5px;
    border-radius: 10px;
    padding-bottom: 20px;
}
#about-section h1{
    padding-top: 5%;
    margin-bottom: 5%;
}
h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
}
hr{
    text-align: center;
    width: 75%;
}
.text{
    text-align: center;
    
}
p{
    text-align: left;
    margin-left: 10px;
}
code{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
    padding: 1px;
}
#linktothebotinvite{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#social-media {
    padding: 20px;

    padding-bottom: 80px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.icon-social {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 10px;
}
.icon-social p {
    display: flex;
    
}
#copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}
#socialmedia-text{
    text-align: center;
}
